@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
}

html,
body {
  width: 100%;
  height: auto;
  background: #fafafa;
  overflow-x: hidden;
}

html {
  font-size: 20px;
}

body {
  font-size: 1rem;
  position: relative;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "Lato-Regular";
  src: local("※"), url("../fonts/Lato-Regular.eot"),
    url("../fonts/Lato-Regular.woff") format("woff"),
    url("../fonts/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lato-Bold";
  src: local("※"), url("../fonts/Lato-Bold.eot"),
    url("../fonts/Lato-Bold.woff") format("woff"),
    url("../fonts/Lato-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --main-color: #0a2a43;
  --sub-color: #f1c40f;
  --line-color: #768399;
  --white-color: #fafafa;
}
