/*** 헤더 영역 ***/
header {
    width: 100%;
    height: 90px;
    position: fixed;
    top: 0;
    z-index: 100;
}

header .header_wrap {
    width: 100%;
    height: 100%;
    position: relative;
}

header .header_wrap > a {
    width: 10%;
    position: absolute;
    top: 30px;
    left: 3%;
    font-family: 'Lato-Bold';
    font-size: 1.5em;
    font-weight: 600;
    float: left;
    color: #ff5b3a;
    z-index: 2;
}

/*
header .header_wrap .menu_wrap {
    width: 40%;
    height: 30px;
    line-height: 30px;
    position: absolute;
    top: 30px;
    left: 58%;
}

header .header_wrap .menu_wrap .menu_inner {
    width: 100%;
    height: 100%;
}

header .header_wrap .menu_wrap .menu_inner li {
    display: inline-block;
    width: 20%;
    height: 100%;
    float: left;
    margin-right: 5%;
}

header .header_wrap .menu_wrap .menu_inner li:last-child{
    width: 20%;
    height: 100%;
    background: #ff5b3a;
}

header .header_wrap .menu_wrap .menu_inner li:last-child a{ color: #fff; }

header .header_wrap .menu_wrap .menu_inner li:before{
    content: "";
    display: block;
    width: 0;
    height: 5px;
    background: #ff5b3a;
    position: absolute;
    top: 13px;
    z-index: 1;
    transition: all .3s ease;
}

header .header_wrap .menu_wrap .menu_inner li.scroll:before{width: 20%;}

header .header_wrap .menu_wrap .menu_inner li.scroll > a{ color: #0a2044; }

header .header_wrap .menu_wrap .menu_inner > li:last-child {
    margin-right: 0;
    font-size: .8em;
}

header .header_wrap .menu_wrap .menu_inner > li a {
    display: block;
    width: 100%;
    height: 100%;
    font-family: 'Lato-Bold';
    font-size: 1em;
    font-weight: 600;
    color: #ff5b3a;
    text-align: center;
    position: relative;
    z-index: 2;
}
*/

header .header_wrap .toggle_menu {
    width: 100%;
    height: 30px;
    float: right;
    cursor: pointer;
    position: absolute;
    top: 30px;
    left: 0;
    z-index: 1;
}

header .header_wrap .toggle_menu .toggle_menu_btn{
    width: 35px;
    height: 30px;
    line-height: 30px;
    font-family: 'Lato-Bold';
    font-size: 1em;
    font-weight: 600;
    color: #fff;
    left: 95%;
    position: absolute;
    z-index: 1;
}

header .header_wrap .toggle_menu .toggle_menu_btn > span:nth-child(1){
    width: 100%;
    height: 3.5px;
    position: absolute;
    top: 0;
    background: #ff5b3a;
}

header .header_wrap .toggle_menu .toggle_menu_btn > span:nth-child(2){
    width: 80%;
    height: 3.5px;
    position: absolute;
    top: 8px;
    right: 0;
    background: #ff5b3a;
    transition: all .3s ease;
}

header .header_wrap .toggle_menu .toggle_menu_btn > span:nth-child(3){
    width: 100%;
    height: 3.5px;
    position: absolute;
    top: 16px;
    background: #ff5b3a;
}

header .header_wrap .toggle_menu .toggle_menu_inner{
    width: 100%;
    height: 350px;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    top: -1500%;
    z-index: -1;
}

header .header_wrap .toggle_menu .toggle_menu_inner > ul{
    width: 100%;
    height: 350px;
}

header .header_wrap .toggle_menu .toggle_menu_inner > ul > li{
    width: 100%;
    height: 80px;
}

header .header_wrap .toggle_menu .toggle_menu_inner > ul > li:nth-child(1){
    margin-top: 30px;
}

header .header_wrap .toggle_menu .toggle_menu_inner > ul > li > a{
    display: block;
    width: 50%;
    height: 80px;
    margin: 0 auto;
    font-family: 'Lato-Bold';
    font-size: 2em;
    font-weight: 600;
    color: #fff;
    transition: all .3s ease;
}

header .header_wrap .toggle_menu .toggle_menu_inner > ul > li > a:after{
    content: "";
    display: block;
    width: 0;
    height: 10px;
    margin: -8px auto;
    border-bottom: 5px solid #ff5b3a;
    transition: all .5s ease;
}

header .header_wrap .toggle_menu .toggle_menu_inner > ul > li > a:hover{ color: #ff5b3a; }

header .header_wrap .toggle_menu .toggle_menu_inner > ul > li > a:hover:after{ width: 15%; }

header .header_wrap .toggle_menu .toggle_bg{
    width: 100%;
    height: 45vh;
    position: absolute;
    z-index: -10;
    top: -1800%;
    background: #0a2044;
    transition: all .3s ease;
}

.header_line {
    width: 1px;
    height: 92vh;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: #1f1f1f;
    transition: all 2.5s ease;
}




/*** 메인 영역 ***/
section {
    width: 100%;
    height: auto;
}

section .main_wrap {
    width: 100%;
    height: 879px;
    padding-top: 36.9vh;
}

section .main_wrap:before {
    content: "";
    display: block;
    width: 94%;
    height: 1px;
    position: absolute;
    top: 35vh;
    left: 0;
    background: #1f1f1f;
}

section .main_wrap:after {
    content: "";
    display: block;
    width: 94%;
    height: 1px;
    position: absolute;
    top: 80vh;
    right: 0;
    background: #1f1f1f;
}

section .main_wrap .main_inner {
    width: 76%;
    height: 32.1vh;
    margin: 0 auto;
}

section .main_wrap .main_inner .main_info {
    width: 100%;
    height: 100%;
}

section .main_wrap .main_inner .main_info .main_txt {
    width: 50%;
    height: 100%;
    float: left;
    padding-top: 12vh;
}

section .main_wrap .main_inner .main_info .main_txt li:nth-child(1) {
    width: 100%;
    font-family: 'Lato-Bold';
    font-size: 3em;
    font-weight: 600;
    color: #1f1f1f;
}

section .main_wrap .main_inner .main_info .main_txt li:nth-child(2) {
    width: 100%;
    font-family: 'Lato-Regular';
    font-size: 1.2em;
    font-weight: 600;
    color: #ff5b3a;
}

section .main_wrap .main_inner .main_info .main_img {
    width: 50%;
    height: 100%;
    float: right;
}

section .main_wrap .main_inner .main_info .main_img iframe:nth-child(1){
    width: 30%;
    height: 50vh;
    margin-top: 4vh;
    margin-left: 4%;
    position: absolute;
}

section .main_wrap .main_inner .main_info .main_img iframe:nth-child(2){
    width: 10%;
    height: 20vh;
    margin-top: 5vh;
    margin-left: 20%;
    position: absolute;
}
section .main_wrap .main_inner .main_info .main_img iframe:nth-child(3){
    width: 10%;
    height: 30vh;
    margin-top: 20vh;
    margin-left: 25%;
    position: absolute;
}




/*** 소개 영역 ***/
section .about_wrap {
    width: 100%;
    height: 100%;
    padding-top: 17.3vh;
    padding-bottom: 28.7vh;
    background: #ff5b3a;
    transition: all 2s ease;
}

section .about_wrap .about_inner {
    width: 57%;
    height: 537px;
    margin: 0 auto;
}

section .about_wrap .about_inner h2 {
    width: 10%;
    height: auto;
    display: block;
    margin: 0 auto;
    font-family: 'Lato-Bold';
    font-size: 1.5em;
    font-weight: 600;
    color: #faebdc;
    text-align: center;
}

section .about_wrap .about_inner .about_contents_wrap {
    width: 100%;
    height: 510px;
    padding-top: 60px;
    box-sizing: border-box;
}

section .about_wrap .about_inner .about_contents_wrap .about_contents_inner {
    width: 64%;
    height: 100%;
    margin: 0 auto;
}

section .about_wrap .about_inner .about_contents_wrap .about_contents_inner > span{
    display: block;
    width: 72px;
    height: 72px;
    margin: 0 auto;
    padding-top: 23vh;
}

section .about_wrap .about_inner .about_contents_wrap .about_contents_inner p {
    padding-top: 50px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.5em;
    font-weight: 400;
    text-align: center;
    color: #faebdc;
}




/*** 포폴 영역 ***/
section .pf_wrap {
    width: 100%;
    height: auto;
    position: relative;
    padding-top: 152px;
    background: #faebdc;
}

section .pf_wrap h3 {
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    font-family: 'Lato-Bold';
    font-size: 1.5em;
    font-weight: 600;
    color: #1f1f1f;
}

section .pf_wrap .pf_center_line {
    width: 1px;
    height: 0;
    position: absolute;
    top: 330px;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    z-index: 1;
    background: #1f1f1f;
    transition: all 5s ease;
}

section .circle {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    background: #ff5b3a;
    opacity: 0;
}

section .pf_wrap .pfw {
    width: 100%;
    height: 439px;
    margin-bottom: 93px;
    position: relative;
}

section .pf_wrap .pfw .pf{
    width: 50%;
    height: 100%;
    position: absolute;
    top: 50px;
} 


section .pf_wrap .pfw:nth-child(even) .pf{
    left: -50%;
    opacity: 0;
}


section .pf_wrap .pfw:nth-child(odd) .pf{
    right: -50%;
    opacity: 0;
}


section .pf_wrap .pfw .pf h4 {
    width: 50%;
    position: relative;
    z-index: 5;
    margin-top: 103px;
    margin-left: 25%;
    font-family: 'Lato-Bold';
    font-size: 3.75em;
    font-weight: 600;
    color: #1f1f1f;
    text-align: center;
    transition: all .3s ease;
}

section .pf_wrap .pfw .pf .pf_line {
    width: 0;
    height: 40px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 130px;
    background: #ff5b3a;
    opacity: .4;
    transition: all 1s ease;
}

section .pf_wrap .pfw .pf p {
    width: 53%;
    margin-top: 54px;
    margin-left: 22.83%;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.25em;
    font-weight: 400;
    text-align: center;
    margin-top: 20px;
    color: #666;
}

section .pf_wrap .pfw .pf .btn_wrap {
    display: inline-block;
    width: 50%;
    height: 42px;
    line-height: 42px;
    margin-top: 80px;
    margin-left: 25%;
    margin-bottom: 91px;
}

section .pf_wrap .pfw .pf .btn_wrap .btn_txt {
    display: inline-block;
    width: 47.83%;
    height: 100%;
    background: #ff5b3a;
    border-radius: 20px;
    font-family: 'Lato-Bold';
    font-size: 0.875em;
    font-weight: 600;
    color: #fff;
    text-align: center;
}

section .pf_wrap .pfw .pf .btn_wrap .btn_txt:first-of-type{ 
    float: left; 
    margin-right: 2.1%; 
}
section .pf_wrap .pfw .pf .btn_wrap .btn_txt:last-of-type{ float: right; }

section .pf_wrap .pfw .pfi{
    width: 45.4%;
    height: 439px;
    position: absolute;
    overflow: hidden;
    top: 15vh;
}
section .pf_wrap .pfw .pfi:before{
    content: "";
    display: block;
    width: 100%;
    height: auto;
    background: #1f1f1f;
    opacity: .8;
    position: absolute;
    z-index: 1;
    transition: all 1s ease;
}

section .pf_wrap .pfw .pfi:nth-child(even){
    right: -50%;
    opacity: 0;
}

section .pf_wrap .pfw .pfi:nth-child(odd){
    left: -50%;
    opacity: 0;
}

section .pf_wrap .pfw .pfi:hover:before{ 
    opacity: 0; 
}

section .pf_wrap .pfw .pfi img{
    width: 100%;
    height: auto;
    position: absolute;
/*    transform: scale(1.2);*/
}

/*section .pf_wrap .pfw .pfi img:hover { transform: scale(1.2); }*/

section .pf_wrap .twizy_wrap{ margin-top: 152px; }

section .pf_wrap .twizy_wrap .pf{ 
    box-sizing: border-box;
}

section .pf_wrap .twizy_wrap .pfi{ float: right; }

section .pf_wrap .twizy_wrap .pfi img:last-child{ display: none; }

section .pf_wrap .twizy_wrap .pfi:hover img:first-child{ 
    display: none;
    transition: all .5s ease;
}
section .pf_wrap .twizy_wrap .pfi:hover img:last-child{ 
    display: block;
    transition: all .5s ease;
}
    
section .pf_wrap .hanggi_wrap .pfi{ float: left; }

section .pf_wrap .hanggi_wrap .pfi img:last-child{ display: none; }

section .pf_wrap .hanggi_wrap .pfi:hover img:first-child{
    display: none;
    transition: all .5s ease;
}

section .pf_wrap .hanggi_wrap .pfi:hover img:last-child{
    display: block;
    transition: all .5s ease;
}

section .pf_wrap .hanggi_wrap .pf{
    margin-top: 0;
}

section .pf_wrap .salon_wrap .pf{
    margin-top: 0;
}
section .pf_wrap .salon_wrap .pfi{ float: right; }

section .pf_wrap .salon_wrap .pfi img:last-child{ display: none; }

section .pf_wrap .salon_wrap .pfi:hover img:first-child{
    display: none;
    transition: all .5s ease;
}

section .pf_wrap .salon_wrap .pfi:hover img:last-child{
    display: block;
    transition: all .5s ease;
}

/*
section .pf_wrap .class_wrap .pfi{ float: left; }

section .pf_wrap .class_wrap .pfi img:last-child{ display: none; }

section .pf_wrap .class_wrap .pfi:hover img:first-child{
    display: none;
    transition: all .5s ease;
}

section .pf_wrap .class_wrap .pfi:hover img:last-child{
    display: block;
    transition: all .5s ease;
}

section .pf_wrap .class_wrap .pf{
    width: 50%;
    float: right;
    margin-top: 0;
}

section .pf_wrap .class2_wrap .pf{
    width: 50%;
    float: left;
    margin-top: 0;
}

section .pf_wrap .class2_wrap .pfi{ float: right; }

section .pf_wrap .class2_wrap .pfi img:last-child{ display: none; }

section .pf_wrap .class2_wrap .pfi:hover img:first-child{
    display: none;
    transition: all .5s ease;
}
section .pf_wrap .class2_wrap .pfi:hover img:last-child{
    display: block;
    transition: all .5s ease;
}
*/




/*** 컨택트 영역(모달팝업) ***/
.contact_wrap{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 9999;
    display: none;
    background: rgba(0,0,0,0.7);
    cursor: pointer;
}
.contact_wrap .contact_inner{
    width: 65%;
    height: 465px;
    position: absolute;
    top: 252px;
    left: 50%;
    transform: translateX(-50%);
    background: #faebdc;
}
.contact_wrap .contact_inner .contact_close{
    width: 33px;
    height: 33px;
    border-radius: 50%;
    position: absolute;
    top: -2%;
    right: -2%;
    background: #ff5b3a;
    cursor: pointer;
}
.contact_wrap .contact_inner .contact_txt{
    width: 45%;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
.contact_wrap .contact_inner .contact_txt li:nth-child(1){
    width: 50%;
    height: auto;
    line-height: 1.8;
    margin: 75px auto;
    background: #faebdc;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #d1cac1, -5px -5px 10px #fff;
    font-family: 'Lato-Bold';
    font-size: 1.5em;
    font-weight: 600;
    color: #1f1f1f;
}
.contact_wrap .contact_inner .contact_txt li:nth-child(1):before{
    content: "";
    display: block;
    width: 50%;
    height: 12px;
    position: absolute;
    z-index: -1;
    top: 95px;
    left: 50%;
    transform: translateX(-50%);
    transition: all .3s ease;
}

.contact_wrap .contact_inner .contact_txt li:nth-child(2){
    font-size: 1.125em;
    font-weight: 600;
    color: #ff5b3a;
    margin-bottom: 28px;
}
.contact_wrap .contact_inner .contact_txt li:nth-child(3){
    font-size: 1.125em;
    font-weight: 600;
    color: #666;
    margin-bottom: 28px;
}
.contact_wrap .contact_inner .contact_txt li:nth-child(4){
    font-family: 'Lato-Regular';
    font-size: 1.125em;
    font-weight: 600;
    color: #666;
    margin-bottom: 28px;
    cursor: pointer;
}
.contact_wrap .contact_inner .contact_txt li:nth-child(4):before{
    content: "";
    display: block;
    width: 0;
    height: 12px;
    background: #ff5b3a;
    opacity: .5;
    position: absolute;
    z-index: -1;
    top: 310px;
    left: 50%;
    transform: translateX(-50%);
    transition: all .3s ease;
}
.contact_wrap .contact_inner .contact_txt li:nth-child(4):hover:before{ width: 48%; }

.contact_wrap .contact_inner .contact_txt li:nth-child(5) a{
    font-family: 'Lato-Regular';
    font-size: 1.125em;
    font-weight: 600;
    color: #666;
    margin-bottom: 28px;
}
.contact_wrap .contact_inner .contact_txt li:nth-child(5):before{
    content: "";
    display: block;
    width: 0;
    height: 12px;
    background: #ff5b3a;
    opacity: .5;
    position: absolute;
    z-index: -1;
    top: 363px;
    left: 50%;
    transform: translateX(-50%);
    transition: all .3s ease;
}
.contact_wrap .contact_inner .contact_txt li:nth-child(5):hover:before{ width: 48%; }




/*** 푸터 영역 ***/
footer{
    width: 100%;
    height: 300px;
    margin-top: 30vh;
    position: relative;
}
footer .footer_wrap{
    width: 100%;
    height: 100%;
    background: #0a2044;
    position: absolute;
    z-index: 1;
}

footer .footer_wrap h3{
    width: 100%;
    display: block;
    text-align: center;
    font-family: 'Lato-Bold';
    font-size: 1.5em;
    font-weight: 600;
    padding-top: 50px;
}

footer .footer_wrap .footer_info_wrap {
    width: 24%;
    height: auto;
    margin-top: 15.4vh;
}

footer .footer_wrap .footer_info_wrap p{
    width: 15%;
    position: absolute;
    top: 90px;
    left: 0;
    right: 0;
    margin: auto;
    font-family: 'Lato-Bold';
    font-size: 1em;
    font-weight: 600;
    text-align: center;
    color: #ff5b3a;
}

footer .footer_wrap .footer_info_wrap a{
    position: absolute;
    top: 160px;
    left: 0;
    right: 0;
    margin: auto;
    font-family: 'Lato-Bold';
    font-size: 3.125em;
    font-weight: 600;
    text-align: center;
    color: #faebdc;
}

footer .footer_wrap .scroll_wrap{
    width: 57px;
    height: 226px;
    position: fixed;
    left: 92%;
    bottom: 40px;
    cursor: pointer;
    z-index: 5;
}
footer .footer_wrap .scroll_wrap .scroll_txt{
    font-family: 'Lato-Bold';
    font-size: .8em;
    font-weight: 600;
    color: #ff5b3a;
    text-align: center;
    margin-top: 145px;
}
footer .footer_wrap .scroll_wrap #scroll_btn{
    width: 50px;
    height: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    background: #ff5b3a;
    border-radius: 50%;
    transition: all 1s ease;
}
footer .footer_wrap .scroll_wrap #scroll_btn:before{
    content: "";
    width: 3px;
    height: 12px;
    background: #fff;
    position: absolute;
    top: 20px;
    left: 40%;
    transform: rotate(45deg);
}
footer .footer_wrap .scroll_wrap #scroll_btn:after{
    content: "";
    width: 3px;
    height: 12px;
    background: #fff;
    position: absolute;
    top: 20px;
    right: 40%;
    transform: rotate(-45deg);
}
footer .footer_wrap .scroll_wrap #scroll_btn.on:before{
    transform: rotate(-45deg);
}
footer .footer_wrap .scroll_wrap #scroll_btn.on:after{
    transform: rotate(45deg);
}